/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    background-color: white;
    padding: 0 10px;
}

.wrapper{
    background-color: #141414;
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.wrapper header{
    color: #b2b2b2;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
header h2{
    font-size: 1.6rem;
}
head .column{
    display: flex;
    align-items: baseline;
}
head .column span{
  font-weight: 500;
  margin-right: 15px;
  font-size: 1.19rem;
}
.valume-slider input{
    accent-color: #fff;
    outline: none;

}
.keys-checkbox input{
    width: 60px;
    height: 30px;
    appearance: none;
    cursor: pointer;
    border-radius: 30px;
    background-color: #4b4b4b;
    position: relative;
}
.keys-checkbox input::before{
    content: "";
    height: 20px;
    width: 20px;
    top: 50%;
    left: 5px;
    border-radius: inherit;
    position: absolute;
    background-color: #8c8c8c;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.keys-checkbox input:checked:before{
     
    left: 35px;
    
    background-color: #fffbfb;
    transform: translateY(-50%);
}

.piano-keys {
    display: flex;
    margin-top: 40px;
     
}
 
.piano-keys .key{
    list-style: none;
    color: #a2a2a2;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    user-select: none;
}
.piano-keys .white {
   width: 70px;
   height: 230px;
    background: linear-gradient(#fff 90%,#eee 4%);
    border-radius: 8px;
    border: 1px solid black;
}
.piano-keys .white.active {
  
     background: linear-gradient(to bottom,#fff 0%,#eee 100% );
     box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
 }
.piano-keys .black {
    width: 44px;
    height: 140px;
     background: linear-gradient(#333,#000);
     border-radius: 0 0 5px 5px;
     margin: 0 -22px 0px -22px;
     z-index: 2;
 }
 .piano-keys .black.active {
  
    background: linear-gradient(to bottom,#000 0%,#434343 100% );
    box-shadow: inset -5px 5px 20px rgba(255,255,255,0.1);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  
  justify-content: center;
  height: 100vh;
  background-color: white;
  padding: 0 10px;
  
}

.wrapper {
  background-color: #141414;
  width: 780px;
  border-radius: 20px;
  padding: 35px 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}

.wrapper header {
  color: #b2b2b2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h2 {
  font-size: 1.6rem;
}

header .column {
  display: flex;
  align-items: baseline;
}

header .column span {
  font-weight: 500;
  margin-right: 15px;
  font-size: 1.19rem;
}

.valume-slider input {
  accent-color: #fff;
  outline: none;
}

.keys-checkbox input {
  width: 60px;
  height: 30px;
  appearance: none;
  cursor: pointer;
  border-radius: 30px;
  background-color: #4b4b4b;
  position: relative;
}

.keys-checkbox input::before {
  content: "";
  height: 20px;
  width: 20px;
  top: 50%;
  left: 5px;
  border-radius: inherit;
  position: absolute;
  background-color: #8c8c8c;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.keys-checkbox input:checked::before {
  left: 35px;
  background-color: #fffbfb;
  transform: translateY(-50%);
}

.piano-keys {
  display: flex;
  margin-top: 40px;
}

.piano-keys .key {
  list-style: none;
  color: #a2a2a2;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  user-select: none;
}

.piano-keys .white {
  width: 70px;
  height: 230px;
  background: linear-gradient(#fff 90%, #eee 4%);
  border-radius: 8px;
  border: 1px solid black;
}

.piano-keys .white.active {
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
}

.piano-keys .black {
  width: 44px;
  height: 140px;
  background: linear-gradient(#333, #000);
  border-radius: 0 0 5px 5px;
  margin: 0 -22px 0px -22px;
  z-index: 2;
}

.piano-keys .black.active {
  background: linear-gradient(to bottom, #000 0%, #434343 100%);
  box-shadow: inset -5px 5px 20px rgba(255, 255, 255, 0.1);
}

.piano-keys span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
}

.piano-keys .key.hide span {
  display: none;
}

@media screen and (max-width: 768px) {
    .wrapper {
      width: 100%;
      padding: 25px;
      transform: rotate(90deg);
    transform-origin: top left; 
    }
  
    /* .piano-keys .white {
      width: calc(100% / 7);
    }
  
    .piano-keys .black {
      width: calc(100% / 7 / 2);
      margin: 0 -1px 0px -1px;
    } */
  }
  
  @media screen and (max-width: 480px) {
    .wrapper {
      padding: 15px;
      transform: rotate(90deg);
    transform-origin: top left; 
    }
  
    /* .piano-keys .white {
      height: 150px;
    }
  
    .piano-keys .black {
      height: 90px;
    }
  
    .piano-keys span {
      font-size: 0.9rem;
    } */
  }
